<div>
    <div class="top" @enterAnimation *ngIf="showCards2">
        <h5 class="no-gutters big-capital-font" @enterAnimation2>Iris</h5>
        <div class="d-flex " @enterAnimation2>
            <h6 class="medium-font mr-4">hello</h6>
            <img src="../assets/waving-hand.svg" alt="" class="align-self-center mb-3 hand">
        </div>
        <p class="m-0 normal-font" @enterAnimation2>I am Iris, a Virtual Assistant</p>
        <p class="m-0 normal-font" @enterAnimation2>How may I help you?</p>
        <div class="bot">
            <img src="../assets/bot.svg" alt="">
        </div>
    </div>
    <div class="faq-container" *ngIf="showCards">

        <div class="d-flex mt-2 top-margin">
            <h5 class="no-gutters mb-0 mr-2 heading-font align-self-center">Frequently asked questions</h5>
            <div style="background: rgba(247, 183, 49, 0.12);padding: 0.1em 0.6em;border-radius: 50%;height: max-content;">
                <img src="../assets/question-mark.svg" alt="" style="height: 0.8em;margin-bottom: 0.2em;">
            </div>
        </div>
        <div [@stagger]>
            <div class="mt-4" *ngFor="let data of cards; index as i">
                <div class="card" *ngIf="i!=cards.length-1">
                    <div class="d-flex my-auto">
                        <img src="../assets/indicator.svg" alt="" class="indicator">
                        <p class="m-0 align-self-center questions">{{data}}</p>
                    </div>
                </div>
                <div class="d-flex mx-auto card-new" *ngIf="i==4">
                    <img src="../assets/message.svg" alt="" style="height: 1em;align-self: center;">
                    <div class="ml-2 heading-font align-self-center">{{data}}</div>
                </div>
            </div>

        </div>



    </div>
</div>